<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Multas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="this.multas.length > 0">
    <ion-item-sliding *ngFor="let multa of this.multas">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-img [src]="multa.imagen || 'https://ionicframework.com/docs/img/demos/thumbnail.svg'"/>
        </ion-thumbnail>
        <ion-label>
          <h2>Marbete: {{ multa.marbete }}</h2>
          <p>Tipo de Infracción: {{ multa.tipoInfraccion }}</p>
          <p>{{ multa.fechaHora }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="verDetalles(multa?.id ?? 0)" color="primary">Detalles</ion-item-option>
        <ion-item-option (click)="eliminarMulta(multa?.id ?? 0)" color="danger">Eliminar</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-button (click)="eliminarTodo()" color="danger" expand="full">
    <ion-icon slot="start" name="trash-bin"></ion-icon>
    ELIMINAR TODO
  </ion-button>
</ion-content>
