<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil de Agente</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="ion-padding ion-text-center">
    <div class="ion-text-center">
      <ion-avatar class="avatar-center">
        <ion-img src="assets/myself.jpg" alt="Mi foto en 2x2 tipo pasaporte"></ion-img>
      </ion-avatar>
    </div>
    <ion-card-header>
      <ion-card-title>Job Jefferson Perez Cabrera</ion-card-title>
      <ion-card-subtitle>20230188</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Asegurate de abrochar tu cinturon de seguridad, y mantener las calles seguras para todos los ciudadanos. La seguridad es un deber de todos. NO BEBAS Y CONDUZCAS.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
